<h1>Add a new member to zeN gyM</h1>

<form method="post" action="/members">

  <label for="first-name">First Name:</label>
  <input id="first-name" type="text" name="member_name"  />


  <label for="last-name">Last Name:</label>
  <input id="last-name" type="text" name="member_surname" />


  <label for="house-select">Membership:</label>
  <select id="house-select" name="membership_status">
        <option value="standard" selected>Standard</option>
        <option value="premium">Premium</option>
  </select>


  <label for="house-select">Activation:</label>
  <select id="house-select" name="member_activation_status">
        <option value="active" selected>Active</option>
        <option value="deactivated">Deactivated</option>
  </select>

  <input type="submit"  value="Submit Member">
</form>
