<% if @result.is_a?(String) %>
    <h2><%=@result%></h2>
    <a href="/bookings/new/classes_to_members/<%=@chosen_class.id%>">Go back</a>
    <a href="#">Update details</a>
<% else %>
    <h2>Success</h2>    
<%end%>
