<h1>classeS of zeN gyM</h1>
<hr>
<table>
  <tr>
    <th>activity</th>
    <th>class time</th>
    <th>actions</th>
  </tr>

    <% for activity in @activities
      <tr>
        <td><%= activity.activity_name %></td>
        <td><%= activity.activity_name%> <%= %></td>
        <td><%= member.member_surname%></td>
        <td><a href="">Book a class</a> <a href="#">Edit Info</a></td>
      </tr>


  <% end %>
  <% end %>
</table>
