<h1>classeS of zeN gyM</h1>
<hr>
<table>
  <tr>
    <th>activity</th>
    <th>class time</th>
    <th>capacity</th>
    <th>actions</th>
  </tr>


<%@classes.sort_by! {|obj| obj.activity_id}%>
 <% for cls in @classes %>

      <tr>
        <td><%= @activities_hash[cls.activity_id] %></td>

        <td><%= cls.class_time %></td>
        <td><%= cls.class_capacity %></td>

        <td><a href="/bookings/new/classes_to_members/<%=cls.id%>">Assign a Member</a><a href="#">Edit Class</a></td>
      </tr>
  <%end%>

</table>
